input[type="text"]{
    height: 70px;
    text-align: right;
}

.calculator{
    border: 5px solid red;
    width: fit-content;
    text-align: center;
    margin: 120px auto;
    background-color: bisque;
}

button{
    margin: 2px;
}

body{
    background-color: brown;
}